<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Home</a>

  <div *ngIf="!loggedIn">
    <a class="navbar-brand" [routerLink]="['products-public']">Products</a>
    <a class="navbar-brand" [routerLink]="['login']">Login</a>
    <a class="navbar-brand" [routerLink]="['register']">Register</a>
  </div>

  <div *ngIf="loggedIn">
    <a class="navbar-brand" [routerLink]="['profile']">Profile</a>
    <a class="navbar-brand" [routerLink]="['products']">Dashboard</a>
    <a class="navbar-brand" href="#" (click)="logout($event)">Logout</a>
  </div>
</nav>