<div class="row">
  <div class="col-12">
    <h4 class="text-dark mt-5">Add a new product</h4>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <!-- name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel class="form-control">
      </div>

      <!-- description -->
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" ngModel class="form-control">
      </div>

      <!-- price -->
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" ngModel class="form-control">
      </div>

      <!-- status -->
      <div class="form-group">
        <label for="status">Status</label>
        <select name="status" class="custom-select">
          <option value="1">Active</option>
          <option value="0">Inactive</option>
        </select>
      </div>

      <!-- back to list -->
      <a routerLink="/products" class="btn btn-primary text-white mr-3">Back to list</a>

      <!-- submit -->
      <button type="submit" class="btn btn-success">Add product</button>

    </form>
  </div>
</div>